#categorySideBar {
  width: 20%;
  .sidebar-box {
    padding: 2% 2% 2% 2%;
    .category-box {
      width: 100%;
      padding: 5px;

      .category {
        font-size: 14px;
      }
    }
    .green-border-container {
      height: 2px;
      width: 100%;
      background-color: rgb(0, 0, 0);
      .green-border {
        height: 2px;
        width: 60%;
        background-color: rgb(81, 185, 46);
      }
    }
    .category-fruit {
      cursor: pointer;
      font-size: 14px;
      width: 60%;
    }
    .category-list {
      cursor: pointer;
      font-size: 14px;
    }
    .active-category {
      cursor: pointer;
      color: rgb(81, 185, 46);
    }
  }
  .brand-box {
    padding: 2% 2% 2% 2%;
    .green-border-container {
      height: 2px;
      width: 100%;
      background-color: rgb(0, 0, 0);
      .green-border {
        height: 2px;
        width: 60%;
        background-color: rgb(81, 185, 46);
      }
    }
    .brand-header {
      .brand {
        font-size: 14px;
      }
    }
  }
  .MuiInputBase-input {
    height: 17px;
    width: 100%;
    font-size: 0.75rem;
    font-family: "Open Sans";
    font-weight: 500;
    padding: 10px;
  }
  .MuiFormControlLabel-root {
    display: block;
  }
  .MuiFormControlLabel-label {
    font-size: 12px;
  }
}
